{{> header }}

<body style="width: 100vw; height:100vh">
    <section>
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px;">
            <img src="../../assets/images/0fe7259172ec78d1b616f0c3002402f1.jpg" style="width: 65px; margin-right: 10px;">Alta de Gerente
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioGG"><button class="dropdown-item" type="button">Perfil</button></a>
                    <button class="dropdown-item" type="button">Cerrar Sesión</button>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; width:100%; margin: 1em;'>
        <a href="/inicioGA/gerentesAgencia"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
    </section>

    <section style="justify-content: center; width:100%;">
        <section style="justify-content: center; width:70%; margin: auto">
            <form action="/inicioGA/gerentesAgencia/altaGerenteAgencia" method="POST"> 
                <div style="display: -webkit-box">
                    <h3 style="margin:10px;">Alta de Gerente de Agencia</h3>
                    <i data-feather="user" style="margin: 1em;"></i>
                </div>
                <hr>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Nombre completo:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="nombre" placeholder="Nombre completo">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Teléfono:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="telefono" placeholder="Teléfono">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Domicilio:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="domicilio" placeholder="Domicilio">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Salario:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="salario" placeholder="Salario">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">ID Gerente Global:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="id_gerente_global" placeholder="ID Gerente Global">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">ID Sucursal:</label>
                    <div class="col-sm-4">
                    <input class="form-control" name="id_sucursal" placeholder="ID Sucursal">
                    </div>
                </div>
                 <button type="submit" class="btn btn-success btn-lg">Agregar</button>
            </form>    
        </section>
    </section>
</body>
{{> footer}}