{{> header }}

<body style="width: 100vw; height:100vh">
    <section>
        <h5 class="card-header" style="    margin: 3px; margin-bottom: 20px; font-size: 31px;">Solicitudes de Autos
            <div class="btn-group" style="float: right;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/inicioGA"><button class="dropdown-item" type="button">Perfil</button></a>
                    <button class="dropdown-item" type="button">Cerrar Sesión</button>
                </div>
            </div>
        </h5>
    </section>

    <section style='justify-content:center; width:100%; margin: 1em;'>
        <a href="/inicioGA"><button type="button" class="btn btn-primary btn-lg">Regresar</button></a>
    </section>


</body>
{{> footer}}